<div class="logo">
  <img src="/src/img/logo.png " width="38" height="38" alt="" />
  <p class="text_logo">antools</p>
</div>
<nav>
  <a href="#">Home</a>
  <a href="#">Categories</a>
  <a href="#">My Collections</a>
  <a href="#">Blog</a>
</nav>
<div class="auth">
  <button class="login auth" id="login-button">Login</button>
  <button class="login auth" id="logout-button">Log out</button>
  <a class="sign_up" href="">Sign Up</a>
  <img src="" alt="Avatar" class="user-icon" />
</div>