{{#each this}}
    <article class="app_cart">
        <div class="head">
            <img src="{{app_img}}" class="company_icon" alt="">
            <ul>
            <li class="name">{{title}}</li>
            <li class="status">{{license}}</li>
            </ul>
        </div>
        <p class="cart_desc">
            {{description}}
        </p>
        <div class="control">
            <div class="icon">
            <svg width="30" height="30">
                <use href="../src/img/symbol-defs.svg#icon-heart"></use>
            </svg>
            <svg width="30" height="30">
                <use href="../src/img/symbol-defs.svg#icon-folder-plus"></use>
            </svg>
            </div>
            <a class="btn" href="/appPage.html">Visit</a>
        </div>
    </article>
{{/each}}